@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: 'Lora', serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Lora', serif;
  font-weight: 700;
}

d {
  font-family: 'Lora', serif;
  font-weight: 500;
}

p, li, span {
  font-family: 'Montserrat', sans-serif;
}

strong {
  font-weight: 600;
}



.trip-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trip-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--foreground);
}

.trip-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--foreground);
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--background);
  color: var(--foreground);
}

.form-group textarea {
  resize: vertical;
}

.submit-btn {
  padding: 10px 20px;
  background-color: black;
  color: gold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}